*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Martel', serif;
}

@media only screen and (max-width: 991px){
    /* HEADER & NAV */
    .logo{
        margin: 10px 10px 10px 10px;
    }
    .logo-a{
        text-decoration: none;
    }
    .logo-img{
        max-width: 35px;
    }
    .logo-nombre{
        font-family: 'Bree Serif', serif;
        margin: 0 0 0 6px;
        font-size: 1.3em;
        font-weight: 700;
    }
    .logo-subt{
        display: none;
    }
    .hamburga{
        margin-right: 10px;
        width: 50px;
        text-align: center;
    }
    .linea-lg{
        display: none;
    }
    
    .hamburga span{
        font-size: .8em;
    }
    .menu-ul{
        text-align: center;
        margin-top: 40px;
        font-size: .8em;
    }
    .menu-ul li:hover{
        opacity: 0.8;
        transition: 1s;
    }
    .menu-fecha{
        display: none;
    }
    .menu-boton{
        margin: auto;
        margin-top: 30px;
        width: 300px;
        font-size: 1em;
        text-align: center;
    }
    .menu-redes{
        margin-top: 50px;
        margin-bottom: 20px;
        text-align: center;
    }
    .redes-ico{
        font-size: 1.6em;
        margin: 3px;
        color: #fff;
        background-color: #801c7f;
        border-radius: 150px;
        border: 1px solid #801c7f;
        padding: 5px;
    }
    .redes-ico:hover{
        font-size: 2.2em;
        transition: 1s;
    }
    /* NOTIS */
    .noticia{
        width: 75%;
        margin: 200px auto;
        min-height: 500px;
        padding-top:100px;
        text-align: center;
    }
    /* FOOTER */
    footer{
        padding-top: 30px;
    }
    .linea{
        height: 50px;
        background-color: rgb(155, 153, 151);
        border-color: rgb(155, 153, 151);
    }
    .logof-caja{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
        margin-top: 30px;
    }
    .logof-img{
        max-width: 35px;
    }
    .logof-nombre{
        font-family: 'Bree Serif', serif;
        margin: 0 0 0 10px;
        text-decoration: none;
        color: black;
        font-size: 1.5em;
        font-weight: 700;
    }
    .logof-nombre:hover{
        opacity: 0.8;
        transition: 1s;
    }
    .redes-footer{
        display: flex;
        justify-content:center;
        align-items: center;
        margin-bottom: 30px;
    }
    .redes-ico-footer{
        font-size: 1.5em;
        color: #fff;
        background-color: #801c7f;
        border-radius: 150px;
        border: 1px solid #801c7f;
        padding: 5px;
        margin-left: 5px;
    }
    .redes-ico-footer:hover{
        opacity: 0.8;
        transition: 1s;
    }
    .nav-footer{
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1em;
        color: black;
        text-align: center;
    }
    .nav-footer a{
        text-decoration: none;
        color: black;
    }
    .nav-footer a:hover{
        opacity: 0.8;
        transition: 1s;
    }
    .copyright{
        padding: 20px 0 20px 0 ;
    }
    .copyright p{
        font-size: 1em;
        text-align: center;
    }
}

@media only screen and (min-width: 992px){
    /* HEADER & NAV */
    .header{
        background-color: #fff;
        position:fixed;
        top:0;
        z-index: 1;
        height: 200px;
    }
    .logo{
        width: 300px;
        height: 50px;
        position: absolute;
        top:50px;
        right:0;
        left:0;
        margin: auto;
    }
    .logo-a{
        text-decoration: none;
    }
    .logo-img{
        max-width: 40px;
    }
    .logo-nombre{
        font-family: 'Bree Serif', serif;
        margin: 0 0 0 10px;
        font-size: 1.5em;
        font-weight: 700;
    }
    .logo-subt{
        font-size: .6em;
        margin-left: 65px;
        margin-top: 5px;
        font-style: italic;
    }
    .menu-ul{
        position:absolute;
        top: 160px;
        left: 0;
        z-index: 1;
        width: 100vw;
        height: 25px;
        display: flex;
        justify-content: space-between;
        padding: 0 150px 0 150px;
        align-items: center;
        background-color: #fff;
        font-size: 0.7em;   
    }
    .menu-ul a{
        color: #fff;
    }
    .menu-ul li:hover{
        opacity: 0.8;
        transition: 1s;
    }
    .menu-fecha{
        position: absolute;
        top: 60px;
        right:80px;
        bottom: 20px;
        width: 170px;
        height: 25px;
        font-size: .6em;
        text-align: center;
        font-style: italic;
    }
    .menu-boton{
        position: absolute;
        top: 80px;
        right:80px;
        bottom: 20px;
        width: 170px;
        height: 25px;
        font-size: .7em;
        text-align: center;
    }
    .menu-redes{
        position:absolute;
        top: 70px;
        right: 0;
        bottom: 0;
        left: 80px;
        max-width: 300px;
    }
    .redes-ico{
        font-size: 1em;
        margin: 0 3px 0 3px;
        color: #fff;
        background-color: #801c7f;
        border-radius: 70px;
        border: 1px solid #801c7f;
        padding: 4px;
    }
    .redes-ico:hover{
        font-size: 1.2em;
        transition: .3s;
    }
    /* NOTIS */
    .noticia{
        width: 75%;
        margin: 200px auto;
        min-height: 500px;
        padding-top:100px;
        text-align: center;
    }
    /* FOOTER */
    footer{
        /*background-color: rgb(174, 172, 175);*/
        padding: 30px 80px 20px 80px;
    }
    .logof-caja{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 30px;
    }
        .logof-img{
            max-width: 60px;
        }
        .logof-nombre{
            text-decoration: none;
            color: black;
            font-size: 1.5em;
            font-weight: 700;
            padding-left: 10px;
        }
        .logof-nombre:hover{
            opacity: 0.8;
            transition: 1s;
        }
    .redes-footer{
        display: flex;
        justify-content: end;
        align-items: center;
        margin-bottom: 30px;
    }
        .redes-ico-footer{
            font-size: 2em;
            color: #fff;
            background-color: #801c7f;
            border-radius: 150px;
            border: 1px solid #801c7f;
            padding: 5px;
            margin-left:5px;
        }
        .redes-ico-footer:hover{
            opacity: 0.8;
            transition: 1s;
        }
    .nav-footer{
        text-align: center;
        font-size: 1em;
        color: #801c7f;
        margin-top: 30px;
        margin-bottom: 30px;
    }
        .nav-footer a{
            text-decoration: none;
            color: blueviolet;
        }
        .nav-footer a:hover{
            opacity: 0.8;
            transition: 1s;
        }
    .copyright p{
        font-size: 1em;
        text-align: center;
        margin-top: 30px;
    }
}