*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
a{
    text-decoration: none;
}

@media only screen and (max-width: 991px){
    /* HEADER & NAV */
    .fecha-dire{
        display: none;
    }
    .menciones{
        display: none;
    }
    .nav-header{
        background-color: #216087;
    }
    .logo{
        margin: 10px 10px 10px 10px;
        display: flex;
        align-items: center;
    }
    .logo-a{
        text-decoration: none;
    }
    .logo-img{
        max-width: 70px;
    }
    .logo-nombre{
        display: none;
    }
    .logo-subt{
        display: none;
    }
    .logo-nombre-peque-1{
        margin: 0 0 0 20px;
        font-size: 1.8em;
        font-weight: 500;
        color: #fff;
    }
    .logo-nombre-peque-2{
        margin: 0 0 0 20px;
        font-size: 1.3em;
        font-weight: 500;
        color: #fff;
    }
    .hamburga{
        position: absolute;
        top:40px;
        right:30px;
        width: 50px;
    }
    .hamburga span{
        font-size: .8em;
    }
    .menu-ul{
        text-align: center;
        margin-top: 40px;
        font-size: .8em;
        color: #fff;
    }
    .menu-ul li:hover{
        opacity: 0.5;
        transition: 1s;
    }
    .logo-en-nav{
        display: none;
    }
    .nav-fecha-dire{
        margin-top: 35px;
    }
    .nav-redes{
        margin-top: 20x;
        margin-bottom: 20px;
        text-align: center;
    }
    .nav-redes i:hover{
        opacity: .5;
        transition: 1s;
    }
    .redes-ico{
        font-size: 1.6em;
        margin: 3px;
        color: #216087;
        background-color: #fff;
        border-radius: 150px;
        border: 1px solid #fff;
        padding: 5px;
    }
    
    
    /* NOTIS */
    
    .noticia{
        width: 90%;
        margin-top: 50px;
    }
    .seccion{
        display: inline;
        background-color:#216087;
        border-radius: 10%;
        padding:5px;
        font-size: 1em;
        color: #fff;
    }
    .titulo{
        margin-top: 20px;
        font-size: 2em;
        font-weight: 700;

    }
    .subtitulo{
        margin-top: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.5em;
        text-align:;
    }
    .autor{
        margin-top: 20px;;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .img{
        max-width: 100%;
        margin-top: 20px;
    }
    .nota{
        margin-top: 30px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.4em;
        text-align: justify;
    }






    /* FOOTER */
    footer{
        padding-top: 30px;
        color: #216087;
    }
    .linea{
        height: 50px;
        background-color: #216087;
        border-color: #216087;
        color: #216087;
    }
    .logof-caja{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
        margin-top: 30px;

    }
    .logof-img{
        max-width: 80px;
    }
    .logof-nombre{
        margin: 0 0 0 10px;
        text-decoration: none;
        color:#216087;
        font-size: 1.5em;
        font-weight: 700;
    }
    .logof-nombre:hover{
        opacity: 0.8;
        transition: 1s;
    }
    .redes-footer{
        display: flex;
        justify-content:center;
        align-items: center;
        margin-bottom: 30px;
    }
    .redes-ico-footer{
        font-size: 1.5em;
        color: #fff;
        background-color:#216087;
        border-radius: 150px;
        border: 1px solid #216087;
        padding: 5px;
        margin-left: 5px;
    }
    .redes-ico-footer:hover{
        opacity: 0.8;
        transition: 1s;
    }
    .nav-footer{
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: .9em;
        color: #216087;
        text-align: center;
    }
    .nav-footer a{
        text-decoration: none;
        color: #216087;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .nav-footer a:hover{
        opacity: 0.8;
        transition: 1s;
    }
    .copyright{
        padding: 20px 0 20px 0 ;
        color: #216087;
    }
    .copyright p{
        font-size: 1em;
        text-align: center;
    }
}

@media only screen and (min-width: 992px){
    /* HEADER & NAV */
    .navbar{
        width: 100%;
        height: 230px;
        background-color: #216087;
        margin: 0;
        padding: 0;
        
    }
    .header{
        position:relative;
        width: 80vw;
        height: 230px;
        background-color: #216087;
        margin-top:0px;
        margin-right: 0;
        margin-left: 0;
        margin: auto;
    }
    .fecha-dire{
        position: absolute;
        top:60px;
        text-align: center;
        margin: 0 0 0 0;
    }
    .fecha-dire p{
        color: #fff;
        padding: 0;
        margin:0;
    }
    .logo{
        position: absolute;
        top:30px;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo-img{
        max-width: 100px;
    }
    .logo-nombre-peque-1, .logo-nombre-peque-2{
        display:none;
    }
    .logo-nombre{
        margin: 30px 0 0 10px;
        font-size: 1.8em;
        color: #fff;
    }
    .logo-subt{
        font-size: 1em;
        color:#fff;
        text-align: end;
        padding-right: 40px;
    }
    .menciones{
        position: absolute;
        top:0;
        right:0;
        margin: auto;
        text-align: center;
    }
    .menciones img{
        width: 60%;
    }
    .menu{
        position:absolute;
        top: 195px;
        left: 0;
        right: 0;
        margin: auto;  
        width: 90%;   
    }
    .menu-ul{
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: space-between;
        padding: 0 0 0 0;
        align-items: center;
        font-size: 0.8em;   
    }
    .menu-ul a{
        color: #fff !important;
        font-family: Arial, Helvetica, sans-serif !important;
    }
    .menu-ul a:hover{
        opacity: 0.5;
        transition: 1s;
    }
    .redes-ico{
        font-size: 130%;
        margin: 0px 5px 12px 5px;
        color: #216087;
        background-color: #fff;
        border-radius: 50px;
        border: 1px solid #fff;
        padding: 7px;
    }
    .nav-fecha-dire{
        display:none;
    }
    .menu.active{
        position: fixed;
        top:0;
        left: 0;
        width: 100vw;
        background-color: #216087;
        z-index: 1; 
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10%;
        padding-right: 10%;
    }
    .logo-en-nav{
        width: 60px;
        display: none;
    }
    .logo-en-nav img{
        width: 100%;
    }
    .logo-en-nav.active{
        display:inline;
    }



    /* NOTIS */

    .noticia{
        width: 70%;
        margin-top: 50px;
    }
    .seccion{
        display: inline;
        background-color:#216087;
        border-radius: 10%;
        padding:5px;
        font-size: 1em;
        color: #fff;
    }
    .titulo{
        margin-top: 20px;
        font-size: 3em;
        font-weight: 700;
        

    }
    .subtitulo{
        margin-top: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 2em;
        text-align: justify;
    }
    .autor{
        margin-top: 20px;;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .img{
        max-width: 100%;
        margin-top: 20px;
    }
    .nota{
        margin-top: 30px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.7em;
        text-align: justify;
    }






    /* FOOTER */
    footer{
        padding: 30px 80px 20px 80px;
    }
    .footer{
        width:80%;
        margin-left: 0;
        margin-right: 0;
        margin:auto;
    }
    .linea{
        color: #216087;
    }
    .logof-caja{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 30px;
    }
        .logof-img{
            max-width: 60px;
        }
        .logof-nombre{
            text-decoration: none;
            color: #216087;
            font-size: 1.5em;
            font-weight: 700;
            padding-left: 10px;
        }
        .logof-nombre:hover{
            opacity: 0.8;
            transition: 1s;
        }
    .redes-footer{
        display: flex;
        justify-content: end;
        align-items: center;
        margin-bottom: 30px;
    }
        .redes-ico-footer{
            font-size: 2em;
            color: #fff;
            background-color: #216087;
            border-radius: 150px;
            border: 1px solid #216087;
            padding: 5px;
            margin-left:5px;
        }
        .redes-ico-footer:hover{
            opacity: 0.5;
            transition: 1s;
        }
    .nav-footer{
        text-align: center;
        font-size: .9em;
        color: #216087;
        margin-top: 30px;
        margin-bottom: 30px;
    }
        .nav-footer a{
            font-family: Arial, Helvetica, sans-serif !important;
            text-decoration: none;
            color: #216087;
        }
        .nav-footer a:hover{
            opacity: 0.8;
            transition: 1s;
        }
    .copyright p{
        color: #216087;
        font-size: 1em;
        text-align: center;
        margin-top: 30px;
    }
}